<!DOCTYPE html>
<html style="max-width: 50vw;">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Recipe App</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="page-body">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-container">
                        <img class="navbar-icon" src="@Url.Content("~/favicon.ico" )" width="40" height="40" />
                        @Html.ActionLink("Recipe App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Explore", "Index", "Recipes")</li>
                        <li>@Html.ActionLink("My Recipes", "Index", "Recipes")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer class="shared-footer">
            <p>&copy; @DateTime.Now.Year - Pofahl Recipe App</p>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
